<!-- говорит использовать шаблон base -->
{{template "base" .}}
<!-- говорит, что этот кусок кода называется content и его нужно вставить в шаблон base -->
{{define "content"}}
<div class="container">

    <div class="row">
      <div class="col">
        <img src="static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
      </div>
    </div>

      <div class="row">

          <div class="col">
              <h1 class="text-center mt-4">General's Quarters</h1>
              <p class="text-center">Your home away from home, set on the majestic waters of the Atlanic Ocean</p>
          </div>
      </div>

      <div class="row">
        <div class="col text-center">
          <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
        </div>
      </div>
  </div>

{{end}}

{{define "js"}}

  <script>
    document.getElementById("check-availability-button").addEventListener("click", function () {
      var html = `
      <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
        <div class="row">
                <div class="col">
                  <div class="row" id="reservation-dates">
                      <div class="col">
                        <input required class="form-control" type="text" name="start" placeholder="Arrival date">
                      </div>
                      <div class="col">
                        <input required class="form-control" type="text" name="end" placeholder="Depature">  
                      </div>
                  </div>
                </div>
              </div>
            </form>
      `
      attention.custom({msg: html, title: "Choose your dates"})
    })
  </script>

{{end}}